
Bài tập  PCO/.ipynb_checkpoints/

B9 23-5-23 Thực hành cấu trúc điều kiện/.ipynb_checkpoints/

B6 16-5-23 Thực hành biến, kiểu dữ liệu, toán tử/.ipynb_checkpoints/

B15 10-6-23 Thực hành hàm và module/.ipynb_checkpoints/

B7 18-5-23/.ipynb_checkpoints/
