
Bài tập  PCO/.ipynb_checkpoints/

B9 23-5-23 Thực hành cấu trúc điều kiện/.ipynb_checkpoints/

B6 16-5-23 Thực hành biến, kiểu dữ liệu, toán tử/.ipynb_checkpoints/

B15 10-6-23 Thực hành hàm và module/.ipynb_checkpoints/

B7 18-5-23/.ipynb_checkpoints/

B16 13-6-23/.ipynb_checkpoints/

B17 15-6-23/.ipynb_checkpoints/

B18 20-6-23/.ipynb_checkpoints/

B18 20-6-23 Thực hành List-Tuple, Dictionary/.ipynb_checkpoints/

B19 20-6-23/.ipynb_checkpoints/

B18 17-6-23 Thực hành List-Tuple, Dictionary/.ipynb_checkpoints/

B20 22-6-23/.ipynb_checkpoints/

B21 24-6-223/.ipynb_checkpoints/

B22 27-6-23/.ipynb_checkpoints/

B23 29-6-23/.ipynb_checkpoints/

B24 - 1-7-23/.ipynb_checkpoints/

Final Project/.ipynb_checkpoints/

StoreMS-project/.ipynb_checkpoints/
